---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "Note",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
	一些杂七杂八的记录。
</p>
<p>
	大多数是给博主自己看的之前程序搭建在typecho发现好像没必要有点臃肿不需要那么多花里胡哨简单轻便就好。
</p>
<p>
	所以在网上发现了<a href="https://github.com/zouzonghao/Astro-theme-Cactus-zh_CN">Astro 仙人掌 是一个基于 Astro 框架的博客主题</a>我发现这是静态博客又带后台（即使电脑不在身边我依旧能够记录）我甚至只改了名字图标我都没改，这用来记录自己的琐碎的事或自己遇到的某些问题
</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
